.container {
    width: 95%;
}

.row{
    margin-bottom: 0;
}

/* Card Styling*/
.card.small {
    height: 180px;
}
.card-content {
    border: 1px black solid;
}
.card > .card-action {
    padding: 0px;
}
